body {
    margin: 0; 
    padding: 0;
}
 
#game-screen {
    display: block;
} 
  
#gameOver, #playHUD, #startScreen {
    position: absolute; 
    visibility: hidden;
} 
  
 #gameStart {
   position: absolute; 
   visibility: hidden;
 } 

h1, h2, h3 {
   font-family: 'Pacifico', cursive;  
   color: #FFCC00;
   text-align: center;
}
  
.title {
    font-size: 62px; 
    margin-bottom: 0px;  
    margin-top: 0px;  
   
}
 
#restartButton, #playButton {
    border: 2px solid #FFCC00; 
    border-radius: 10px;
} 
 
#restartButton, #playButton:hover {
    background-color: #4DFF4D;
} 
 
#score {
    margin: 0px;  
    position: absolute; 
    font-family: 'Pacifico', cursive;  
    color: #FFCC00; 
    font-size: x-large; 
    visibility: hidden;
}
 
